.card-comment{
  ion-item, ion-list{
    --padding-top: 0;
    --padding-bottom: 0;
  }
  ion-textarea{
    --background: var(--ion-color-light);
    --border-radius: .65rem;
  }
  ion-card-content{
    padding-bottom: 0;
    padding-top: 0;
  }
}

.comments{
  h5{
    color: var(--ion-color-primary-dark);
    font-size: .8rem;
  }
}
