<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-grid class="feed" fixed="true">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <h1>Rodrigo Portillo</h1>
              <p>nomeusuario</p>
            </ion-label>
            <ion-avatar aria-hidden="true" slot="end">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-item>
          <ion-item>
            <ion-input label="Nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Usuário"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="E-mail" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle>
              <ion-label>Permitir Notificações</ion-label>
              <ion-note color="medium">Pode desmarcar a qualquer momento</ion-note>
            </ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-button slot="start" fill="clear">Atualizar Senha</ion-button>
            <ion-button slot="end" fill="clear" color="danger" (click)="logout()">Sair</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
