<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="/feed">
      <ion-icon aria-hidden="true" name="compass"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="forums" href="/forums">
      <ion-icon aria-hidden="true" name="glasses"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openNewPost()">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
