h2, h1{
  font-size: 4.2em;
  text-align: center;
}
h1{
  font-size: 2em;
}

ion-input{
  &:not(:focus){
    box-shadow: 0 .3em .5em rgba(0, 0, 0, 0.1);
  }
  border-radius: 80px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

ion-button{
  max-width: 400px;
  margin: 0 auto;
}
