ion-img{
  max-width: 1.61em;
  height: auto;
}
h1{
  margin: 0;
  font-weight: bold;
  font-size: 1.61em;
  font-family: joly-text, sans-serif;
}
ion-item{
  text-align: center;
  --background: transparent;
}
