<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeAllModals()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Onde você deseja publicar?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col class="search ion-padding">
         <ion-input type="search" (ionFocus)="showEmojis()" (ionBlur)="hideEmojis()" [(ngModel)]="searchValue" (input)="filterForums()" id="fill-emoji" size="small" fill="outline" mode="md" shape="round" class="ion-text-center" placeholder="Busque por tema ou emoji">
         </ion-input>
       </ion-col>
     </ion-row>
     <ion-row *ngIf="!emojiSearch">
       <ion-col>
         <ion-list *ngIf="forums.length" class="forums-list" lines="none" [inset]="true" mode="ios">
           <ion-item *ngFor="let forum of forums" [button]="true" (click)="closeMe(forum._id, forum?.forum_emojis[0]?.emoji)" >
            <ion-text slot="start">
              <span *ngFor="let emoji of forum.forum_emojis">{{emoji.emoji}}</span>
            </ion-text>
            <ion-label>{{forum.name}}</ion-label>
           </ion-item>
         </ion-list>
       </ion-col>
     </ion-row>
     <ion-row class="ion-padding" *ngIf="emojiSearch">
       <ion-col *ngFor="let emoji of filteredEmojiList" size="2">
         <ion-button (mousedown)="closeMe(emoji.forum, emoji.emoji)" [id]="emoji.forum" [title]="emoji.title" class="ion-no-margin ion-no-padding" fill="clear" shape="round" mode="md" color="dark">{{emoji.emoji}}</ion-button>
       </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>

