<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeAllModals()">
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-title>Onde você deseja publicar?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="searchValue" (input)="filterForums()" id="fill-emoji" fill="outline" mode="md" class="ion-text-center">
        </ion-input>
        <!--<ion-popover trigger="fill-emoji" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-grid>
                <ion-row>
                  <ion-col *ngFor="let emoji of emojisDB">
                    {{emoji.char}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-content>
          </ng-template>
        </ion-popover>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let emoji of filteredEmojiList">
        <ion-button (click)="closeMe(emoji.forumDetails, emoji.emoji)" (mouseout)="hideForumName()" (mouseover)="showForumName(emoji.title)" [id]="emoji.forum" [title]="emoji.title" class="ion-no-margin ion-no-padding" fill="clear" shape="round" mode="md">{{emoji.emoji}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
